#response, #responseLoc, #responseEvent, #responseVol, #responseDonor, #responseAssign, #responseDonation {
	color: red;
}

#success, #successLoc, #successEvent, #successVol, #successDonor, #successAssign, #successDonation {
	color: green;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid black;
    margin: 50px 0px;
    padding: 0;
}